*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(233, 186, 170);
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
    
}

#count{
    display: flex;
    justify-content: center;
    text-align: center;
}